[Desktop Entry]
Name=Desktop Agenda
GenericName=Agenda
Type=Application
Encoding=UTF-8
Comment=Agenda overlay for the desktop
Path=/home/cleroux/Working/dags/
Exec=python /home/cleroux/Working/dags/dags.py
Icon=org.gnome.Calendar
Terminal=false
Categories=GTK;Office;Calendar;
Keywords=Calendar;Event;Reminder;
StartupNotify=false
